* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden !important; */
}

.all {
  height: 640px;
  padding-top: 19px;
  background: linear-gradient(
      0deg,
      rgba(4, 26, 111, 0.6) 0%,
      rgba(4, 26, 111, 0.6) 100%
    ),
    url("images/Rectangle.png"),
    lightgray 0px -121.774px / 100% 147.71% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 102px 0px 96.34px;
  text-align: center;
  transition: 0.4s ease;
}
.nav-scroll {
  position: fixed;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(4, 26, 111, 0.6) 0%,
    rgba(4, 26, 111, 0.6) 100%
  );
  top: -20px;
  z-index: 100;
  transform: translateY(20%);
  padding: 5px 102px 20px 96.34px;
}
.hamburger {
  display: none;
}
nav p {
  display: flex;
  align-items: center;
}
nav span {
  color: #88f0e5;
  font-size: 18.967px;
  font-style: normal;
  font-weight: 900;
  line-height: 110.5%;
  padding-top: 16px;
}
nav svg {
  width: 111.584px;
  height: 70px;
  flex-shrink: 0;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 65px;
  line-height: 110.5%;
  padding-top: 33px;
}
nav li a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.5%;
  text-decoration: none;
  color: white;
}
nav li a:hover {
  opacity: 0.55;
}
.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.txt span {
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
}
.txt svg {
  width: 150.04px;
  height: 94.124px;
  flex-shrink: 0;
  margin-right: 30px;
}
.txts {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.5%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
hr {
  border: none;
  border-top: 2px dashed;
  color: white;
  justify-content: center;
}
.apply button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  padding: 20px 120px;
  position: relative;
  left: 35%;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.5%;
  background-color: #88f0e5;
  border-radius: 3px;
  border: none;
}
.apply1 {
  background-color: #88f0e5;
  color: #00030e;
  border: none;

  padding: 10px 20px;
  font-weight: 700;
  font-style: normal;
  border-radius: 3px;
}

.comp h2 {
  margin-top: 50px;
  text-align: center;
}
.comp img {
  position: relative;
  margin-left: 85px;
  width: 1000px;
  margin-top: 32px;
}
.blocks {
  display: flex;
  align-items: center;
  gap: 145.25px;
  padding-left: 96.62px;
  padding-right: 96.62px;
  margin-top: 40px;
}
.about h2 {
  text-align: center;
  margin-top: 72px;
}
.blocks h1 {
  color: #041a6f;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.5%;
}
.bloc2 p {
  width: 500px;
  height: 244px;
  color: #1c1d20;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.bloc2 button {
  display: flex;
  width: 212px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #00030e;
  color: white;
  position: relative;
  left: 55%;
  margin-top: 100px;
}
.bloc2 {
  margin-right: 50px;
}
.bloc {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1440px;
}
.bloc img {
  width: 275px;
  flex-shrink: 0;
}
.sec {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.gets {
  display: flex;
  gap: 70px;
  padding: 0px 102px 0px 96.34px;

  background-image: url("conponents/blocks-pages/Vector.png");

  background-repeat: no-repeat;
  background-position: 130px 200px;
}

.elem1 .ment {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.elem1 h2 {
  color: #1e1e1e;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}
.elem1 span {
  margin-bottom: 50px;
  color: #041a6f;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.tern {
  margin-bottom: 30px;
}
.elem2 {
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin-left: 250px;
}
.elem2 .sec:first-child {
  position: relative;

  top: 100px;
}
.stat {
  display: flex;
  gap: 90px;
  height: 484px;
  padding: 77px 101px 77px 70px;
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
}
.ours {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
}
.txtes p {
  height: 256px;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.txtes p span {
  color: #88f0e5;
}
.Allsqrt {
  display: flex;
  flex-wrap: wrap;
  top: 77px;
  gap: 30px;
}
.sqrt {
  width: 350px;
  height: 150px;
  border-radius: 10px;
  background: #fcfcfc4d;
}
.event {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.slides {
  overflow: hidden;
}
.slide {
  display: flex;
  position: relative;
  animation: move 30s infinite;
  height: 400px;
}

@keyframes move {
  25% {
    right: 0px;
  }
  50% {
    right: 1423px;
  }
  75% {
    right: 2846px;
  }
  100% {
    right: 4269px;
  }
}
.insig {
  margin: 100px 100px 0px 100px;
}
.insig h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: #1e1e1e;
  margin-bottom: 25px;
}
.insig span {
  color: #041a6f;
}
.insig p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}
.bloctxt {
  display: flex;
  top: 3288px;
  left: 86px;
  gap: 20px;
  margin: 100px 100px 0px 100px;
}
.alltxt {
  display: flex;
  align-items: flex-start;

  gap: 21.925926208496094px;
}
.txtwrit p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  height: 98.66666412353516px;
}
.txtwrit h2 {
  margin-bottom: 20px;
}
.alltxt img {
  width: 55.5px;
  height: 55.5px;
  padding: 2.022768259048462px 2.3305723667144775px 2.324479818344116px
    2.994981527328491px;
}
.elig {
  margin: 80px;
  color: #041a6f;
}
.elig p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.elig span {
  color: #041a6f;
}
.circle {
  padding: 15px;
  border-radius: 50%;
  background-color: #00030e;
  color: #88f0e5;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.Allcircle {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.Allcircle p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.Allcircle h2 {
  margin-bottom: 20px;
}

.space {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 40px 350px 70px 210px;
  background-image: url("conponents/blocks-pages/Line.png");
  background-repeat: no-repeat;
}
.Allcircle:first-child {
  margin-left: 40px;
}
.Allcircle:last-child {
  margin-left: 40px;
}
.txtim {
  margin: 120px 0px 70px 100px;
}
.txtim h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}
.txtim span {
  color: #041a6f;
}
.car {
  width: 450px;
  height: 290px;

  border-radius: 15px;
  background: var(--gradient, linear-gradient(71deg, #010823 0%, #041a6f 100%));
}
.tes,
.star,
.con {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
.star {
  margin-top: 100px;
}
.carre {
  display: flex;
  margin-right: 50px;
  margin-top: 45px;
  gap: 25px;
}
.imgStar {
  display: flex;
  gap: 50px;
  margin: 50px 120px 70px 100px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.tx {
  margin-top: 20px;
  margin-bottom: 10px;
}
.link {
  margin-top: 15px;
}
.link a {
  margin-left: 13px;
}
.imgStar a {
  text-decoration: none;
  color: #0038ff;
}
.espace {
  margin-top: 250px;
  padding: 55px 98px 45px 103px;
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
}
.es {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.aq {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #88f0e5;
  margin-bottom: 60px;
}
.btn {
  position: relative;
  left: 394px;
  justify-content: center;
  padding: 20px 120px;
  border-radius: 5px;
  background-color: #88f0e5;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.answ {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}
.answ span {
  color: #041a6f;
}
.answer {
  display: flex;
  align-items: center;
  margin: 50px 120px 70px 100px;
  justify-content: space-between;
  margin-top: 120px;
}
.aros {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.tiret {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: solid 1px black;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.con {
  margin-top: 200px;
}
.drop {
  margin: 50px;
  align-content: center;
  justify-content: center;
}
.drop p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}
.contact,
.input {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 360px;
  gap: 20px;
}

.input input {
  display: block;
  padding: 20px;
  background: #f3f3f3;
  border: 0;
  outline: none;
}
input::placeholder {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
textarea::placeholder {
  color: black;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
textarea {
  width: 608px;
  height: 200px;
  resize: none;
  background: #f3f3f3;
  border: 0;
  outline: none;
}
.btn2 {
  border: 0;
  outline: 0;
  padding: 10px 50px;
  margin-top: 20px;
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: #88f0e5;
  margin-left: 447px;
}
.foot {
  display: flex;
  gap: 70px;
  margin: 50px;
  flex-wrap: wrap;
}
.fo {
  height: 450px;
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
  padding-top: 15px;
  margin-top: 150px;
}
.foot h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}
.foot li {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.foot ul {
  padding-left: 34px;
}
.img {
  display: flex;
  align-items: center;
  gap: 20px;
}
.b4 p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 10px;
}
.pp {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 3px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 150px;
}
.pp span {
  color: #88f0e5;
}
@media all and (max-width: 500px) {
  .fo,
  .comp,
  .about,
  .all,
  .con,
  .get,
  .ours,
  .stat,
  .event,
  .slides,
  .insig,
  .answer,
  .imgStar,
  .tes,
  .txtim,
  .espace {
    width: 890px;
  }

  .fo {
    height: 600px;
  }

  nav ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger img {
    color: black;
    width: 50px;
  }
  .apply button {
    width: 220px;
    height: 45px;
    padding: 7.111px;
  }
  nav p {
    width: 81.947px;
    height: 51.408px;
  }
  nav span {
    color: #88f0e5;
    font-family: Proxima Nova;
    font-size: 13.929px;
    font-style: normal;
    font-weight: 900;
    line-height: 110.5%;
  }

  .txt span {
    color: #fff;
    font-family: Proxima Nova;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .txts {
    color: #fff;
    text-align: center;
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .comp img {
    width: 665px;
    height: 92px;
  }
  .blocks {
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 50px;
  }
  .bloc2 button {
    left: 96%;
  }
  .stat {
    height: 550px;
    gap: 0px;
    flex-direction: column;
    padding: 30px 101px 77px 70px;
  }
  .txtes p {
    font-size: 45px;
    height: 193px;
  }
  .Allsqrt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sqrt {
    height: 132px;
  }
  .imgStar {
    margin: 0;
    flex-direction: column;
    gap: 80px;
    color: white;
    background: var(
      --gradient,
      linear-gradient(71deg, #010823 0%, #041a6f 100%)
    );
    padding: 60px;
  }
  .espace {
    background: white;
  }
  .es,
  .aq {
    color: #000;
  }
  .btn {
    border-radius: 5px;
    background: var(--gradient, #010823);
    color: #fff;
    padding: 20px 65px;
    left: 320px;
  }
  .elem1 span {
    font-size: 55px;
  }
  .elem2 {
    margin-left: 20px;
  }
  .sec {
    width: 300px;
  }
  .insig {
    margin: 100px -27px 0px 100px;
  }
  .bloctxt {
    gap: 15px;
    margin: 50px 100px 0px 100px;
  }
  .alltxt {
    display: flex;
    gap: 4.925926208496094px;
  }
  .txtwrit h2 {
    margin-bottom: 8px;
    font-size: 30px;
  }
  .txtwrit p {
    font-size: 16px;
    font-weight: 400;
    line-height: initial;
    letter-spacing: 0em;
    text-align: left;
    width: 173px;
  }
  .elig {
    margin-top: 211px;
    margin-left: 100px;
    color: #041a6f;
  }
  .elig p {
    display: flex;
    gap: 10px;
  }
  .space {
    gap: 40px;
    margin: -17px -351px 92px 76px;
  }
  .Allcircle h2 {
    margin-bottom: 17px;
    font-size: 30px;
  }
  .car {
    width: 177px;
    height: 282px;
  }
  .txtim h1 {
    font-size: 44px;
  }
  .txtim {
    margin: 108px 0px 70px 50px;
  }
  .espace {
    margin-top: 100px;
    padding: 0;
  }

  .aq {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .es {
    font-size: 25px;
  }
  .answer {
    flex-direction: column;
    gap: 90px;
    margin: 97px -213px -114px -105px;
  }
  .answ {
    font-size: 45px;
    position: relative;
    left: -74px;
  }
}
