@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova Condensed", sans-serif;

  /* overflow-x: hidden !important; */
}
body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.all {
  height: 640px;
  padding-top: 19px;
  background: linear-gradient(0deg,
      rgba(4, 26, 111, 0.6) 0%,
      rgba(4, 26, 111, 0.6) 100%),
    url("images/Rectangle.png"),
    lightgray 0px -121.774px / 100% 147.71% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 102px 0px 96.34px;
  text-align: center;
  transition: 0.4s ease;
  width: 100%;
}

.nav-scroll {
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg,
      rgba(4, 26, 111, 0.6) 0%,
      rgba(4, 26, 111, 0.6) 100%);
  top: -20px;
  z-index: 100;
  transform: translateY(20%);
  padding: 5px 102px 20px 96.34px;
}

.hamburger {
  display: none;
}

nav p {
  display: flex;
  align-items: center;
}

nav span {
  color: #88f0e5;
  font-size: 18.967px;
  font-style: normal;
  font-weight: 900;
  line-height: 110.5%;
  padding-top: 16px;
}

nav svg {
  width: 111.584px;
  height: 70px;
  flex-shrink: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 65px;
  line-height: 110.5%;
  padding-top: 33px;
}

nav li a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.5%;
  text-decoration: none;
  color: white;
}

nav li a:hover {
  opacity: 0.55;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.txt span {
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
}

.txt svg {
  width: 150.04px;
  height: 94.124px;
  flex-shrink: 0;
  margin-right: 30px;
}

.txts {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.5%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

hr {
  border: none;
  border-top: 2px dashed;
  color: white;
  justify-content: center;
}

.apply button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 120px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin: auto;
  line-height: 150.5%;
  background-color: #88f0e5;
  border-radius: 3px;
  border: none;
}

.apply1 {
  background-color: #88f0e5;
  color: #00030e;
  border: none;

  padding: 10px 20px;
  font-weight: 700;
  font-style: normal;
  border-radius: 3px;
}

.comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comp h2 {
  margin-top: 50px;

}

.comp img {

  width: 90%;
  margin-top: 32px;
}

.blocks {
  display: flex;
  align-items: center;
  gap: 145.25px;
  width: 100%;

  padding-left: 96.62px;
  padding-right: 96.62px;
  margin-top: 40px;
}



.about h2 {
  text-align: center;
  margin-top: 72px;
}

.blocks h1 {
  color: #041a6f;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.5%;
}

.bloc2 p {

  height: fit-content;
  padding-bottom: 5px;
  color: #1c1d20;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.bloc2 button {
  display: flex;
  width: 212px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  border-radius: 2px;
  background: #00030e;
  color: white;
  margin-left: auto;

  margin-top: 60px;
}

.bloc2 {}

.bloc2 svg {
  width: 25px;
}

.bloc {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;
}

.bloc img {
  width: 450px;

}

@media screen and (max-width:1242px) {

  .blocks {
    gap: 20;
  }
}


.sec {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px 38px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 370px;
}

.gets {
  margin-top: 80px;
  display: flex;
  gap: 70px;
  padding: 0px 102px 0px 96.34px;
  width: 100%;
  background-image: url("conponents/blocks-pages/Vector.png");

  background-repeat: no-repeat;
  background-position: 130px 200px;
}

.elem1 .ment {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.elem1 h2 {
  color: #1e1e1e;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.elem1 span {
  margin-bottom: 50px;
  color: #041a6f;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.tern {
  margin-bottom: 30px;
}

.elem2 {
  display: flex;
  flex-direction: column;
  gap: 200px;

}

.elem2 .sec:first-child {
  position: relative;
  margin-left: 100px;

  top: 50px;
}

.stat {
  width: 100%;
  display: flex;
  gap: 90px;
  height:auto fit-content;
  padding: 77px 101px 77px 93px;
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
}

.ours {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
}

.txtes p {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.txtes p span {
  color: #88f0e5;
}

.Allsqrt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  top: 77px;
  gap: 30px;
}

.sqrt {
  padding:70px 150px;
  border-radius: 10px;
  background: #fcfcfc4d;
}

.event {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.slides {
  overflow: hidden;
}

.slide {
  display: flex;
  position: relative;
  animation: move 30s infinite;
  height: 400px;
}

@keyframes move {
  25% {
    right: 0px;
  }

  50% {
    right: 1423px;
  }

  75% {
    right: 2846px;
  }

  100% {
    right: 4269px;
  }
}

.insig {
  margin: 100px 100px 0px 100px;
}

.insig h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.insig span {
  color: #041a6f;
}

.insig p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.bloctxt {
  display: flex;
  top: 3288px;
  left: 86px;
  gap: 20px;
  margin: 100px 100px 0px 100px;
}

.alltxt {
  display: flex;
  align-items: flex-start;

  gap: 21.925926208496094px;
}

.txtwrit p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  height: 98.66666412353516px;
}

.txtwrit h2 {
  margin-bottom: 20px;
}

.alltxt img {
  width: 55.5px;
  height: 55.5px;
  padding: 2.022768259048462px 2.3305723667144775px 2.324479818344116px 2.994981527328491px;
}

.elig {
  padding: 100px 101px 77px 93px;
  color: #041a6f;
}

.elig p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.elig span {
  color: #041a6f;
}

.circle {
  padding: 15px;
  border-radius: 50%;
  background-color: #00030e;
  color: #88f0e5;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.circlewrit {
  width: 100%;
}

.Allcircle {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.Allcircle p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.Allcircle h2 {
  margin-bottom: 20px;
}

.space {
  display: flex;
  flex-direction: column;
  gap: 50px;
    margin: 40px 70px 10px 100px;
  background-image: url("conponents/blocks-pages/Line.png");
  background-repeat: no-repeat;
}

.Allcircle:first-child {
  margin-left: 40px;
}

.Allcircle:last-child {
  margin-left: 40px;
}

.txtim {
  margin: 120px 0px 70px 100px;
}

.txtim h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.txtim span {
  color: #041a6f;
}

.car {
  width: 375px;
  height: 290px;

  border-radius: 15px;
  background: var(--gradient, linear-gradient(71deg, #010823 0%, #041a6f 100%));
}

.car:last-child {
  display: none;
}

.tes,
.star,
.con {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.star {
  margin-top: 100px;
}

.carre {
  display: flex;
  margin-right: 50px;
  margin-top: 45px;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
}

.imgStar {
  display: flex;
  gap: 50px;
  margin: 50px 120px 70px 100px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.tx {
  margin-top: 20px;
  margin-bottom: 10px;
}

.link {
  margin-top: 15px;
}

.link a {
  margin-left: 13px;
}

.imgStar a {
  text-decoration: none;
  color: #0038ff;
}

.espace {
  margin-top: 250px;
  padding: 55px 98px 45px 103px;
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
}

.es {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.aq {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #88f0e5;
  margin-bottom: 60px;
}

.btn {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #88f0e5;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.answ {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.answ span {
  color: #041a6f;
}

.answer {
  display: flex;
  align-items: center;
  margin: 50px 120px 70px 100px;
  justify-content: space-between;
  margin-top: 120px;
}

.aros {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.TOopen {
  margin-bottom: 5px;
  z-index: 20;
  font-size: 19px;
}

.tiret {
  padding-top: 25px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: solid 1px black;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.con {
  margin-top: 200px;
}

.drop {
  padding: 100px 101px 77px 93px;
  align-content: center;
  justify-content: center;
}

.drop p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

.contact,
.input {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 360px;
  gap: 20px;
}

.input input {
  display: block;
  padding: 20px;
  background: #f3f3f3;
  border: 0;
  outline: none;
}

input::placeholder {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

textarea::placeholder {
  color: black;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

textarea {
  width: 608px;
  height: 200px;
  resize: none;
  background: #f3f3f3;
  border: 0;
  outline: none;
}

.btn2 {
  border: 0;
  outline: 0;
  padding: 10px 50px;
  margin-top: 20px;
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: #88f0e5;
  margin-left: auto;
}

.foot {
  display: flex;
  gap: 70px;
  padding: 77px 101px 77px 110px;
  flex-wrap: wrap;
}

.fo {
  background: linear-gradient(82.5deg, #010823 12.53%, #041a6f 101.69%);
  padding-top: 15px;
  margin-top: 150px;
  height: auto fit-content;
  padding-bottom: 60px;
}

.foot h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.foot li {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.foot ul {
  padding-left: 34px;
}

.img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.b4 p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 10px;
}

.pp {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 3px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 150px;
}

.pp span {
  color: #88f0e5;
}

@media screen and (max-width:395px) {
  .bloc img {
    width: 150px;
}
.sec {
  padding: 0;
  width: 100%;
}
.sqrt {
  padding: 70px 130px;
}
}

@media screen and (max-width:600px) {
  .txts{
    margin: 30px auto;
  }
  .drop {
    padding: 100px 101px 77px 50px;
}
  .answer {
    margin: 50px 120px 70px 50px;
  
}
  .Allcircle:first-child {
    margin-left: 0px;
}
.Allcircle:last-child {
  margin-left: 0px;
}
  .space {
    margin: 40px 70px 10px 50px;
}
  .stat {
    padding: 77px 101px 77px 50px;
}
  nav {
    padding: 0px 35px 0px 45.34px;
}
.nav-scroll {
  padding: 0px 35px 0px 45.34px;
}
  
.txt div{
 display: flex;
 flex-direction: column;
}
  .bloc img {
    width: 100%;
    max-width: 2300px;
}
.bloctxt {
  gap: 100px;
}
.alltxt{
  margin-bottom: 30px;
  height: auto ;
  width: 100%;
}
.bloctxt {
    display: flex;
    margin: 100px 50px 0px 50px;
}
.answ {
  font-size: 54px;
  
}
.btn {
  width: auto;
  padding: 10px 20px;
    font-size: 20px;
}
.txtim h1 {
  font-size: 44px;
  
}
.txt span{
  font-size: 40px;
}
.txt svg {
  width: 70.04px;
  height: 64.124px;
}
.all {
  height: auto;
  padding-bottom: 50px;
}
.apply button {
  
  padding: 20px 70px;
  
}
.blocks {
  padding-left: 50px;
  padding-right: 96.62px;
}
.gets {
  padding: 0px 102px 0px 50px;
}
.txtim {
  margin: 120px 0px 70px 30px;
}
.imgStar {
  margin: 50px 120px 70px 50px;
}

}

@media screen and (max-width:906px) {
  .gets {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 0px;
      background-image: none;
      margin-left: 0;
  }
  .elem1 .ment{
    gap: 20px;
  }
  .elem2{
    gap: 100px;
  }
  .elem2 .sec:first-child {
    margin: auto;
  }
  .sec{
    margin: auto;
  }
  nav ul{
    display: none;
  }
  .hamburger {
    display: block;
}
.carre,.imgStar,.answer {
  display: flex;
 flex-direction: column;
}

.answer {
 gap: 50px;
}
.contact, .input {
   width: 100%; 
  height: 100%; 
}
textarea {
  width: 100%;
  height: 170px;
 
}
.all{
  width: 100%;
}
.space{
  background-image: none;
}
.Allsqrt{
 display: flex;
 flex-wrap: wrap;
}
.sqrt{
  width: 100%;
}
}

@media screen and (max-width:1006px) {
  nav p svg{
    width: 80px;
  }
  nav ul {
   
    gap: 35px;
   
  }
  .blocks {
    gap: 145.25px;
    flex-direction: column;  
  }
  .sec {
   
    padding: 20px 28px;
  }

  .stat {
    width: 100%;
    flex-direction: column;
  
}
.bloctxt {
  display: flex;
  flex-direction: column;
}

.apply button {
 
  padding: 15px 70px;
  font-size: 24px;
 
}
.car {
  width: 100%; 
  height: 290px;
  border-radius: 15px;
  background: var(--gradient, linear-gradient(71deg, #010823 0%, #041a6f 100%));
}


 

.car:last-child {
  display: block;
}
.txt span{
  font-size: 60px;
}
.txt svg {
  width: 90.04px;
  height: 54.124px;
}
.txt{
  margin-left: auto;
}
}
@media screen and (max-width:1160px) {


}


